[Unit]
Description=Get temp, humid, and humiditydeficit data & Post to the monitor
After=rc-local.service

[Service]
WorkingDirectory=/home/pi/tokyu
ExecStart=/home/pi/tokyu/tokyu
Restart=always
#RestartSec=90
RestartSec=30
Type=simple
PIDFile=/var/run/tokyu.pid

User=pi
Environment=DISPLAY=:0

[Install]
WantedBy=multi-user.target
